a {
    text-decoration: none !important;
}    




.scrollable {
  max-height: 600px; /* Adjust the max-height as needed to limit the scrollable area */
  overflow-y: auto;
}

.logo {
  transform: scale(0.89);
}

.btn-huge{
  padding-top:20px;
  padding-bottom:20px;
}


@media (max-width: 768px) {
  .main-slider-carousel .inner-box {
    padding-top: 80px;
  }

  .main-slider-carousel .title {
    font-size: 24px;
  }

  .main-slider-carousel h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .main-slider-carousel .text {
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .main-slider-carousel .swiper-slide {
    height: 200px; /* Set the height for phone view */
  }
}